<div class="container my-5 m-auto bg-white shadow">
  <div>
    <h5 class="title py-4">writer's name</h5>
    <div class="my-4 text-center">
      <div class="pb-4">
        <img src="images/feather1.jpg" class="img-fluid" alt="writesPhoto" />
      </div>
      <div>
        <p class="paragraph">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam odit
          possimus blanditiis repellat esse doloremque sunt soluta sed vitae ut
          pariatur nesciunt eos, nostrum vero recusandae ratione iusto quia nam.
        </p>
      </div>
    </div>
  </div>
</div>
