.footer {
  background-color: #01326a;
  color: #f9f7f3;
  align-content: center;
  position: relative;
  bottom: 0;
  padding-block: 15px;
}

.img-fluid {
  height: 70px;
  width: 70px;
}

.logo-text {
  font-size: 20px;
  font-family: cursive;
  letter-spacing: 1px;
}

.footer-title {
  color: #4fc4f7;
  font-size: 1.5rem;
}

ul li {
  list-style-type: none;
  padding: 5px;
  margin-right: 40px;
  color: #f9f7f3;
  transition: color 0.3s ease-in-out;
}

.contact {
  color: #f9f7f3;
}

a {
  color: #f9f7f3;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social {
  display: flex;
  flex-direction: column;
}

.fab {
  margin-right: 10px;
  font-size: 24px;
}
