<div class="container my-5">
  <app-category-carousel (onCategoryChange)="categoryChange($event)"></app-category-carousel>
</div>
<div class="container">
  <div class="row m-3">
    <div class="col-md-3 my-2" *ngFor="let story of stories">
      <mat-card
        appearance="outlined"
        routerLink="/story/{{ story.id }}/details"
      >
        <img
          mat-card-image
          class="story-img m-2"
          src="{{ story.cover_image }}"
          alt="cover_image"
        />
        <mat-card-content class="pt-2" routerLink="/story/{{ story.id }}/details">
          <a>
            <p mat-card-title class="py-2 title">{{ story.title }}.</p>
          </a>

          <div class="d-flex justify-content-start">
            <div>
              <span>
                <img
                  src="images/reading-book.png"
                  style="height: 20px; width: 20px"
                  alt=""
                />
                <span style="padding-left: 3px; font-size: 12px">{{ story.readers_count }}</span>
              </span>
            </div>
            <div class="ps-2">
              <span>
                <img
                  src="images/feedback.png"
                  style="height: 20px; width: 20px"
                  alt=""
                />
                <span style="padding-left: 3px; font-size: 12px">
                  {{ story.votes_count }}</span
                ></span
              >
            </div>
            <div class="ps-2">
              <span>
                <img
                  src="images/feedback-2.png"
                  style="height: 20px; width: 20px"
                  alt=""
                />
                <span style="font-size: 12px">{{ story.comments_count }}</span></span
              >
            </div>
            <div class="ps-2">
              <span>
                <img
                  src="images/chapter.png"
                  style="height: 13px; width: 20px"
                  alt=""
                />
                <span style="font-size: 12px">{{ story.chapters_count }}</span></span
              >
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-button >Read Now</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
