.container {
  margin: 50px 50px;
}

mat-card {
  cursor: pointer
}

a {
  color: #282827;
  text-decoration: none;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

mat-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

img.story-img {
  max-height: 170px;
  min-height: 170px;
}
