<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <ul>
      <li>
        <mat-list-item
          routerLink="users"
          routerLinkActive="router-link-active"
          >Users</mat-list-item
        >
      </li>
      <li>
        <mat-list-item
          routerLink="stories"
          routerLinkActive="router-link-active"
          >Stories</mat-list-item
        >
      </li>
      <li>
        <mat-list-item
          routerLink="categories"
          routerLinkActive="router-link-active"
          >Categories</mat-list-item
        >
      </li>
      <li>
        <mat-list-item
          routerLink="start-reading"
          routerLinkActive="router-link-active"
          >Start Reading</mat-list-item
        >
      </li>
      <li>
        <mat-list-item
          routerLink="reading-later"
          routerLinkActive="router-link-active"
          >Reading later</mat-list-item
        >
      </li>
      <!-- <li>
        <mat-list-item
          routerLink="tags/"
          routerLinkActive="router-link-active"
          >Tags</mat-list-item
        >
      </li>
      <li>
        <mat-list-item
          routerLink="comments"
          routerLinkActive="router-link-active"
          >Comments</mat-list-item
        >
      </li>
      <li>
        <mat-list-item
          routerLink="reviews"
          routerLinkActive="router-link-active"
          >Reviews</mat-list-item
        >
      </li> -->
      <li>
        <mat-list-item
          routerLink="contacts"
          routerLinkActive="router-link-active"
          >Contacts</mat-list-item
        >
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <button type="button" mat-raised-button (click)="drawer.toggle()">
      <p class="sr-only">toggle</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="24"
        height="24"
        stroke-width="2"
      >
        <path d="M21 17l-18 0"></path>
        <path d="M6 10l-3 -3l3 -3"></path>
        <path d="M3 7l18 0"></path>
        <path d="M18 20l3 -3l-3 -3"></path>
      </svg>
    </button>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
