
<div class="password my-5 m-auto shadow bg-white">
  <h5 class="title mb-3">create new password</h5>
  <div class="container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <!--current password-->
      <mat-form-field appearance="outline" *ngIf="!router.url.includes('auth')">
        <mat-label>current Password</mat-label>
        <input
          matInput
          formControlName="currentPassword"
          [type]="hideCurrentPassword ? 'password' : 'text'"
          name="currentPassword"
          placeholder="Current password"
          required
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility('current')">
          {{ hideCurrentPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="
            passwordForm.get('currentPassword')?.touched &&
            passwordForm.get('currentPassword')?.hasError('required')
          "
        >
          Current Password is required
        </mat-error>
        <mat-error
          *ngIf="
            passwordForm.get('currentPassword')?.touched &&
            passwordForm.get('currentPassword')?.hasError('minlength')
          "
        >
          Current password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>

      <!--new password-->
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'"
          name="newPassword"
          placeholder="New password"
          required
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility('new')">
          {{ hideNewPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="
            passwordForm.get('newPassword')?.touched &&
            passwordForm.get('newPassword')?.hasError('required')
          "
        >
          New Password is required
        </mat-error>
        <mat-error
          *ngIf="
            passwordForm.get('newPassword')?.touched &&
            passwordForm.get('newPassword')?.hasError('minlength')
          "
        >
          New password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>

      <!--confirm password-->
      <mat-form-field appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          name="confirmPassword"
          placeholder="Confirm password"
          required
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility('confirm')">
          {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="
            passwordForm.get('confirmPassword')?.touched &&
            passwordForm.get('confirmPassword')?.hasError('required')
          "
        >
          Confirm Password is required
        </mat-error>
        <mat-error
          *ngIf="
            passwordForm.hasError('passwordMismatch') &&
            passwordForm.get('confirmPassword')?.touched
          "
        >
          New password and confirm password do not match.
        </mat-error>
      </mat-form-field>

      <!--submit button-->
      <div class="text-center">
        <button type="submit" class="btn">Change Password</button>
      </div>
    </form>
  </div>
</div>
