<div class="container border border-1 rounded-3 w-75 my-3">
  <div *ngFor="let review of reviews">
    <div class="d-flex align-items-center">
      <div class="py-3">
        <img
          [src]="review.user.image"
          alt="user"
        />
      </div>
      <div class="ps-2 text-start">
        <p class="mb-0">{{ review.user.username }}</p>
        <small class="text-muted">
          {{ review.updated_at }}
        </small>
      </div>
    </div>
    <p class="text-start w-md-75 ps-5">
      {{ review.feedback }}
    </p>
    <hr />
  </div>
  <div class="my-3">
    <textarea
      class="form-control"
      placeholder="Write your review"
      rows="3"
    ></textarea>
    <div class="text-center">
      <button class="btn mt-2" (click)="postReview()">
        <i class="fa-solid fa-pen"></i> &nbsp; post
      </button>
    </div>
  </div>
</div>
